<app-header></app-header>
<app-line-session></app-line-session>

<main style="width: 100%; height: 100%; padding: 4rem">
  <div style="width: 100%; display: flex; flex-direction: row; gap: 1rem">
    <div style="width: 75%; height: 50%">
      <p-stepper [value]="activeStep" class="basis-[50rem]">
        <p-step-list>
          <p-step [value]="1">Carrinho</p-step>
          @if (activeStep == 2) {
            <p-step [value]="2">Endereços</p-step>
          }
          @if (activeStep >= 3) {
            <p-step [value]="3">Pagamento</p-step>
          }
        </p-step-list>

        <p-step-panels>
          <p-step-panel [value]="1">
            @for (item of cartItems; track item.product.id; let i = $index) {
              <ng-template #content>
                <div class="flex flex-col h-48">
                  <div
                    style="display: flex; flex-direction: column; gap: 2rem; border: 1px solid var(--color-background); padding: 1.5rem; border-radius: 10px"
                    class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
                  >
                    <div style="width: 100%; display: flex; justify-content: space-between; align-items: center">
                      <div style="display: flex; gap: 0.5rem; align-items: center">
                        <i class="pi pi-shopping-bag"></i>
                        <span>Produto e Serviço</span>
                      </div>

                      <p-button icon="pi pi-trash" size="large" label="Remover todos os produtos" (onClick)="clearCart()"/>
                    </div>

                      <div style="width: 100%; display: flex;">
                        <div style="width: 60%; max-width: 60%; display: flex; gap: 0.5rem; flex-direction: row;">
                          <img
                            src="{{item.product.images[0]}}"
                            style="width: 120px; height: 120px; object-fit: cover; cursor: pointer; border: 2px solid transparent; border-radius: 5px; transition: border 0.2s;"
                          />

                          <div style="display: flex; flex-direction: column; gap: 0.5rem; padding: 0.5rem">
                            <div style="display: flex; flex-direction: column; gap: 0.3rem">
                              <span>Orient</span>
                              <span style="font-weight: bold">{{item.product.title}}</span>
                            </div>

                            <div style="display: flex; flex-direction: column">
                              <span style="font-size: 12px">Com desconto à vista: <strong>R$ {{item.product.price}}</strong></span>
                              <span style="font-size: 12px">Parcelado no cartão sem juros: <strong>R$ {{item.product.price}}</strong></span>
                            </div>
                          </div>
                        </div>

                        <form
                          style="width: 20%; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 0.5rem;"
                          [formGroup]="getItemFormGroup(i)">
                          <span>Quant.</span>
                          <p-select
                            [options]="quantityOptions"
                            optionLabel="name"
                            class="w-full md:w-56"
                            [virtualScroll]="true"
                            [virtualScrollItemSize]="7"
                            formControlName="quantity"
                            appendTo="body"
                          />
                          <p-button icon="pi pi-trash" size="small" label="Remover" variant="outlined" (onClick)="removerFromCart(item.product.id)"/>
                        </form>

                        <div style="width: 20%; display: flex; flex-direction: column; justify-content: center; align-items: end">
                          <span>Preço à vista:</span>
                          <span style="font-size: 16px; font-weight: bold">{{item.product.price | currency:'BRL'}}</span>
                        </div>
                      </div>
                  </div>
                </div>
              </ng-template>
            }
          </p-step-panel>

          <p-step-panel [value]="2">
            <ng-template #content>
              <div class="flex flex-col h-48">
                <div
                  class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
                >
                  <form style="display: flex; flex-direction: column; gap: 1rem" [formGroup]="addressFormGroup">
                    <span><strong>Selecione seu endereço:</strong></span>

                    @for (addr of addresses; track addr.id) {
                      <div style="display: flex; gap: 0.5rem; border: 1px solid var(--color-background); padding: 1.5rem; border-radius: 10px">
                        <p-radiobutton
                          name="address"
                          [inputId]="'address' + addr.id"
                          formControlName="address"
                          [value]="addr.id"
                        />
                        <label [for]="'address' + addr.id" class="ml-2">{{ addr.text }}</label>
                      </div>
                    }

                    <span>Cadastrar novo endereço</span>
                  </form>
                </div>
              </div>
            </ng-template>
          </p-step-panel>

          <p-step-panel [value]="3">
            <ng-template #content>
              <div class="flex flex-col h-48">
                <div
                  class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
                >
                  <h2>Cartões de crédito:</h2>
                  <form style="display: flex; flex-direction: column; padding: 1rem;" [formGroup]="paymentForm">
                    <div style="width: 100%; display: flex; flex-direction: column; gap: 1rem">
                      @for (creditCard of creditCards; track creditCard.id) {
                        <div style="display: flex; flex-direction: column; gap: 0.5rem; padding: 0.5rem 0; border-bottom: 1px solid var(--color-background)">

                          <!-- Linha com bandeira, dados e radio -->
                          <div style="display: flex; align-items: center; justify-content: space-between;">
                            <div style="display: flex; align-items: center; gap: 0.5rem">
                              @if (creditCard.cardFlag === CreditCardTypes.ELO) {
                                <img src="/assets/elo.png" width="32" height="32" />
                              } @else if (creditCard.cardFlag === CreditCardTypes.MASTER_CARD) {
                                <img src="/assets/mastercard.svg" width="32" height="32" alt="mastercard"/>
                              } @else if (creditCard.cardFlag === CreditCardTypes.VISA) {
                                <img src="/assets/visa.svg" width="32" height="32" alt="visa"/>
                              }

                              <div style="display: flex; flex-direction: column; gap: 0.25rem">
                                <span>{{ creditCard.printedName }}</span>
                                <span>{{ creditCard.number }}</span>
                              </div>
                            </div>

                            <p-radiobutton
                              name="creditCard"
                              [value]="creditCard.id"
                              formControlName="creditCardId"
                              [inputId]="'creditCard' + creditCard.id">
                            </p-radiobutton>
                          </div>

                          @if (paymentForm.get('creditCardId')?.value === creditCard.id) {
                            <div style="display: flex; gap: 1rem; align-items: center; padding: 0.5rem 0; width: 100%">
<!--                              &lt;!&ndash; CVV &ndash;&gt;-->
<!--                              <div style="display: flex; flex-direction: column; gap: 0.25rem; width: 25%;">-->
<!--                                <label for="cvv-{{creditCard.id}}">CVV</label>-->
<!--                                <input-->
<!--                                  pInputText-->
<!--                                  id="cvv-{{creditCard.id}}"-->
<!--                                  formControlName="securityCode"-->
<!--                                  inputmode="numeric"-->
<!--                                  pattern="\\d*"-->
<!--                                  maxlength="4"-->
<!--                                  placeholder="Ex.: 123"-->
<!--                                  style="width: 100%;" />-->
<!--                                @if (paymentForm.get('securityCode')?.touched && paymentForm.get('securityCode')?.invalid) {-->
<!--                                  <small style="color: var(&#45;&#45;color-red)">Informe 3 ou 4 dígitos.</small>-->
<!--                                }-->
<!--                              </div>-->

                              <div style="display: flex; flex-direction: column; gap: 0.25rem; width: 25%;">
                                <label for="installments-{{creditCard.id}}">Número de parcelas</label>
                                <p-select
                                  id="installments-{{creditCard.id}}"
                                  [options]="[
                                  {name: '1x sem juros', value: '1'},
                                  {name: '2x sem juros', value: '2'},
                                  {name: '3x sem juros', value: '3'},
                                  {name: '4x sem juros', value: '4'},
                                  {name: '5x sem juros', value: '5'},
                                  {name: '6x sem juros', value: '6'}
                                  ]"
                                  optionLabel="name"
                                  formControlName="installments"
                                  appendTo="body"
                                  class="w-full md:w-56"
                                />
                              </div>
                            </div>
                          }
                        </div>
                      }
                    </div>
                  </form>

                </div>
              </div>
            </ng-template>
          </p-step-panel>
        </p-step-panels>
      </p-stepper>
    </div>

    <div style="width: 25%; padding: 1rem; display: flex; flex-direction: column; gap: 4rem">
      <div style="display: flex; gap: 0.5rem; align-items: center;">
        <i class="pi pi-file" style="font-size: 22px" ></i>
        <h2>Resumo</h2>
      </div>

      <div style="display: flex; flex-direction: row; justify-content: space-between">
        <span style="font-size: 14px">Valores dos produtos</span>
        <span><strong>{{ totalPrice$ | async | currency:'BRL' }}</strong></span>
      </div>

      <div style="width: 100%; display: flex; gap: 0.5rem; margin-top: 1rem; flex-direction: column; align-items: center">
        <p-button
          [label]="activeStep === 3 ? 'Finalizar' : 'Próximo'"
          [icon]="activeStep === 3 ? 'pi pi-check' : 'pi pi-arrow-right'"
          iconPos="right"
          size="large"
          [style]="{width: '100%'}"
          (onClick)="activeStep === 3 ? null : nextStep()"
          [disabled]="primaryDisabled"
        />

        <p-button
          label="Voltar"
          severity="secondary"
          icon="pi pi-arrow-left"
          size="large"
          [style]="{width: '100%'}"
          (onClick)="previousStep()"
          [disabled]="activeStep === 1"
        />
      </div>
    </div>
  </div>
</main>
