<app-header/>
<main style="padding: 3rem 12rem 4rem 12rem">
  <div style="display: flex; flex-direction: column; margin-bottom: 4rem; gap: 8px;">
    <div style="display: flex; flex-direction: row; align-items: center; gap: 8px;">
      <i class="pi pi-wallet"></i>
      <h2>Minha carteira</h2>
    </div>
    <span>Gerencie seus cartões de crédito ou adicione novos</span>
  </div>

  <div style="display: flex; flex-direction: column; gap: 2rem">
    @if (!showCreditCardForm()) {
      <div style="display: flex; flex-direction: row; justify-content: space-between">
        <h2>Cartões</h2>
        <p-button
          label="ADICIONAR CARTÃO DE CRÉDITO"
          (click)="handleCreditCardForm()"
        />
      </div>
    }

    @if (showCreditCardForm()) {
      <div style="display: flex; flex-direction: column; gap: 1rem">
        <div style="display: flex; flex-direction: row; align-items: center; gap: 8px;">
          <i class="pi pi-plus-circle"></i>
          <h2 style="font-size: 18px">Adicionar novo cartão</h2>
        </div>

        <form style="display: flex; flex-direction: column; gap: 1rem" [formGroup]="creditCardForm">
          <p-floatlabel variant="on" [style]="{'width': '100%'}">
            <input
              pInputText
              id="city"
              style="width: 100%"
              pSize="large"
            />
            <label for="city">Nome do cartão*</label>
          </p-floatlabel>

          <p-floatlabel variant="on" [style]="{'width': '100%'}">
            <input
              pInputText
              id="city"
              style="width: 100%"
              pSize="large"
            />
            <label for="city">Nome impresso no cartão*</label>
          </p-floatlabel>

          <div style="display: flex; flex-direction: row; width: 100%; gap: 8px">
            <div [style]="{'width': '50%', 'display': 'flex', 'flex-direction': 'column', 'gap': '8px'}">
              <p-floatlabel variant="on" [style]="{'width': '100%'}">
                <p-inputmask
                  mask="MM/AA"
                  id="validity"
                  size="large"
                  [style]="{'width': '100%'}"
                ></p-inputmask>
                <label for="validity">Validade*</label>
              </p-floatlabel>
            </div>

            <div [style]="{'width': '50%', 'display': 'flex', 'flex-direction': 'column', 'gap': '8px'}">
              <p-floatlabel variant="on" [style]="{'width': '100%'}">
                <p-inputmask
                  mask="___"
                  [max]="3"
                  id="verificationCode"
                  size="large"
                  [style]="{'width': '100%'}"
                ></p-inputmask>
                <label for="verificationCode">Código de verificação*</label>
              </p-floatlabel>
            </div>
          </div>

          <h3 style="margin-top: 0.5rem">Dados pessoais</h3>

          <div style="display: flex; flex-direction: row; width: 100%; gap: 8px">
            <div [style]="{'width': '50%', 'display': 'flex', 'flex-direction': 'column', 'gap': '8px'}">
              <p-floatlabel variant="on">
                <input
                  pInputText
                  class="register-input"
                  id="cpf"
                  pSize="large"
                  [style]="{'width': '100%'}"
                  autocomplete="off"
                  name="cpf"
                  maxlength="11"
                  aria-required="true"
                />
                <label for="cpf">CPF*</label>
              </p-floatlabel>
            </div>

            <div [style]="{'width': '50%', 'display': 'flex', 'flex-direction': 'column', 'gap': '8px'}">
              <p-date-picker
                [showIcon]="true"
                dateFormat="dd/mm/yy"
                placeholder="Data de nascimento*"
                size="large"
                aria-required="true"
              />
            </div>
          </div>

          <div style="display: flex; flex-direction: column; gap: 4px; margin-top: 0.5rem">
            <h3>Identificação do cartão:</h3>
            <p>Para facilitar na hora de concluir sua próxima compra, dê um apelido para seu cartão</p>
          </div>

          <div style="display: flex; flex-direction: row; width: 100%; gap: 8px">
            <div [style]="{'width': '100%', 'display': 'flex', 'flex-direction': 'column', 'gap': '8px'}">
              <p-floatlabel variant="on">
                <input
                  pInputText
                  id="cardSurname"
                  pSize="large"
                  [style]="{'width': '100%'}"
                  name="cardSurname"
                  maxlength="11"
                  aria-required="true"
                />
                <label for="cardSurname">Apelido para este cartão*</label>
              </p-floatlabel>
            </div>
          </div>

          <div class="flex items-center">
            <p-checkbox
              inputId="mainCard"
              formControlName="mainCard"
              [binary]="true">
            </p-checkbox>
            <label for="mainCard" class="ml-2"> Este é meu cartão principal </label>
          </div>

          <div style="display: flex; justify-content: space-between; margin-top: 2rem">
            <p-button label="Voltar para minha conta" variant="outlined" (onClick)="handleCreditCardForm()"/>
            <p-button label="Cadastrar novo cartão"/>
          </div>
        </form>
      </div>
    } @else {
      <div style="display: flex; flex-direction: row; gap: 1rem">
        <!--      Colocar for-->
        <p-card
          header="CARTÃO MARCOS"
          [style]="{ width: '25%', height: 'auto', display: 'flex'}"
        >
          <p class="m-0 mb-2">
            444* **** **** 4444
          </p>
          <p class="m-0 mb-2">
            Vence em 08/33
          </p>
          <ng-template #footer>
            <div class="flex gap-4 mt-1">
              <p-button
                label="Remover"
                severity="secondary"
                class="w-full"
                [outlined]="true"
                styleClass="w-full" />
            </div>
          </ng-template>
        </p-card>

        <p-card
          header="CARTÃO MARCOS"
          [style]="{ width: '25%', height: 'auto', display: 'flex'}"
        >
          <p class="m-0 mb-2">
            444* **** **** 4444
          </p>
          <p class="m-0 mb-2">
            Vence em 08/33
          </p>
          <ng-template #footer>
            <div class="flex gap-4 mt-1">
              <p-button
                label="Remover"
                severity="secondary"
                class="w-full"
                [outlined]="true"
                styleClass="w-full" />
            </div>
          </ng-template>
        </p-card>
      </div>
    }
  </div>
</main>
