<app-header/>
<main style="padding: 3rem 12rem 4rem 12rem">
  <div style="display: flex; flex-direction: column; margin-bottom: 4rem; gap: 8px;">
    <div style="display: flex; flex-direction: row; align-items: center; gap: 8px;">
      <i class="pi pi-wallet"></i>
      <h2>Minha carteira</h2>
    </div>
    <span>Gerencie seus cartões de crédito ou adicione novos</span>
  </div>

  <div style="display: flex; flex-direction: column; gap: 2rem">
    <div style="display: flex; flex-direction: row; justify-content: space-between">
      <h2>Cartões</h2>
      <p-button label="ADICIONAR CARTÃO DE CRÉDITO"/>
    </div>

    <div style="display: flex; flex-direction: row; gap: 1rem">
<!--      Colocar for-->
      <p-card
        header="CARTÃO MARCOS"
        [style]="{ width: '25%', height: 'auto', display: 'flex'}"
      >
        <p class="m-0 mb-2">
          444* **** **** 4444
        </p>
        <p class="m-0 mb-2">
          Vence em 08/33
        </p>
        <ng-template #footer>
          <div class="flex gap-4 mt-1">
            <p-button
              label="Remover"
              severity="secondary"
              class="w-full"
              [outlined]="true"
              styleClass="w-full" />
          </div>
        </ng-template>
      </p-card>

      <p-card
        header="CARTÃO MARCOS"
        [style]="{ width: '25%', height: 'auto', display: 'flex'}"
      >
        <p class="m-0 mb-2">
          444* **** **** 4444
        </p>
        <p class="m-0 mb-2">
          Vence em 08/33
        </p>
        <ng-template #footer>
          <div class="flex gap-4 mt-1">
            <p-button
              label="Remover"
              severity="secondary"
              class="w-full"
              [outlined]="true"
              styleClass="w-full" />
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</main>
