<app-header/>
<main>
  <div class="info">
    <h2 style="font-size: 1.5rem">CRIAR CONTA</h2>
  </div>

  <p-stepper [value]="1" class="basis-[50rem]">
    <p-step-list>
      <p-step [value]="1">Dados Básicos</p-step>
      <p-step [value]="2">Endereço</p-step>
      <p-step [value]="3">Forma de Pagamento</p-step>
    </p-step-list>

    <p-step-panels>
      <p-step-panel [value]="1">
        <ng-template #content let-activateCallback="activateCallback">
          <form [formGroup]="clientRegisterForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
              <div class="form-column">
                <p-floatlabel variant="on">
                  <input
                    pInputText
                    class="register-input"
                    id="fullName"
                    autocomplete="off"
                    formControlName="fullName"
                    name="fullName"
                    aria-required="true"
                    data-cy="input-fullName"
                  />
                  <label for="fullName">Nome completo*</label>
                </p-floatlabel>
                @if (clientRegisterForm.get('fullName')?.invalid && clientRegisterForm.get('fullName')?.touched) {
                  <div class="alert alert-danger">
                    @if (clientRegisterForm.get('fullName')?.hasError('required')) {
                      <div>É necessário informar o nome completo.</div>
                    }
                    @if (clientRegisterForm.get('fullName')?.hasError('minlength')) {
                      <div>O nome precisa ter pelo menos 2 caracteres.</div>
                    }
                  </div>
                }
              </div>

              <div class="form-column">
                <p-floatlabel variant="on">
                  <input
                    pInputText
                    class="register-input"
                    id="cpf"
                    autocomplete="off"
                    formControlName="cpf"
                    name="cpf"
                    maxlength="11"
                    aria-required="true"
                    data-cy="input-cpf"
                  />
                  <label for="cpf">CPF*</label>
                </p-floatlabel>
                @if (clientRegisterForm.get('cpf')?.invalid && clientRegisterForm.get('cpf')?.touched) {
                  <div class="alert alert-danger">
                    @if (clientRegisterForm.get('cpf')?.hasError('required')) {
                      <div>É necessário informar um CPF.</div>
                    }
                    @if (clientRegisterForm.get('cpf')?.hasError('invalidCpf')) {
                      <div>O CPF informado é inválido.</div>
                    }
                  </div>
                }
              </div>
            </div>

            <div class="form-row">
              <div class="form-column">
                <p-select
                  [options]="[
                      {name: 'Masculino', value: 'MASCULINO'},
                      {name: 'Feminino', value: 'FEMININO'}
                    ]"
                  optionLabel="name"
                  placeholder="Gênero*"
                  optionValue="value"
                  size="large"
                  formControlName="gender"
                  aria-label="Selecione o gênero"
                  aria-required="true"
                  data-cy="select-gender"
                />
                @if (clientRegisterForm.get('gender')?.invalid && clientRegisterForm.get('gender')?.touched) {
                  <div class="alert alert-danger">
                    <div>É necessário selecionar um gênero.</div>
                  </div>
                }
              </div>

              <div class="form-column">
                <p-date-picker
                  formControlName="birthDate"
                  [showIcon]="true"
                  dateFormat="dd/mm/yy"
                  placeholder="Data de nascimento*"
                  size="large"
                  aria-required="true"
                  data-cy="input-birthDate"
                />
                @if (clientRegisterForm.get('birthDate')?.invalid && clientRegisterForm.get('birthDate')?.touched) {
                  <div class="alert alert-danger">
                    <div>É necessário informar a data de nascimento.</div>
                  </div>
                }
              </div>
            </div>

            <div class="form-row">
              <div class="form-column">
                <p-select
                  [options]="[
                      {name: 'Celular', value: 'CELULAR'},
                      {name: 'Fixo', value: 'FIXO'}
                    ]"
                  optionLabel="name"
                  placeholder="Tipo de Telefone*"
                  size="large"
                  optionValue="value"
                  formControlName="typePhoneNumber"
                  aria-label="Selecione um tipo de telefone"
                  aria-required="true"
                  data-cy="select-typePhoneNumber"
                />
                @if (clientRegisterForm.get('typePhoneNumber')?.invalid && clientRegisterForm.get('typePhoneNumber')?.touched) {
                  <div class="alert alert-danger">
                    <div>É necessário selecionar um tipo de telefone.</div>
                  </div>
                }
              </div>

              <div class="form-column">
                <p-floatlabel variant="on">
                  <input
                    pInputText
                    class="register-input"
                    id="phoneNumber"
                    pSize="large"
                    autocomplete="off"
                    formControlName="phoneNumber"
                    name="phoneNumber"
                    maxlength="11"
                    aria-required="true"
                    data-cy="input-phoneNumber"
                  />
                  <label for="phoneNumber">Telefone*</label>
                </p-floatlabel>
                @if (clientRegisterForm.get('phoneNumber')?.invalid && clientRegisterForm.get('phoneNumber')?.touched) {
                  <div class="alert alert-danger">
                    @if (clientRegisterForm.get('phoneNumber')?.hasError('required')) {
                      <div>É necessário preencher o telefone celular.</div>
                    }
                  </div>
                }
              </div>
            </div>

            <div class="form-row">
              <div class="form-column">
                <p-floatlabel variant="on">
                  <input
                    pInputText
                    class="register-input"
                    id="email"
                    autocomplete="true"
                    formControlName="email"
                    name="email"
                    aria-required="true"
                    data-cy="input-email"
                  />
                  <label for="email">E-mail*</label>
                </p-floatlabel>
                @if (clientRegisterForm.get('email')?.invalid && clientRegisterForm.get('email')?.touched) {
                  <div class="alert alert-danger">
                    É necessário informar um e-mail.
                  </div>
                }
              </div>
            </div>

            <div class="form-row">
              <div class="form-column">
                <p-floatlabel variant="on">
                  <p-password
                    size="large"
                    inputId="password"
                    formControlName="password"
                    data-cy="input-password"
                  />
                  <label for="password">Senha*</label>
                </p-floatlabel>
              </div>
              <div class="form-column">
                <p-floatlabel variant="on">
                  <p-password
                    size="large"
                    inputId="confirmPassword"
                    formControlName="confirmPassword"
                    data-cy="input-confirmPassword"
                  />
                  <label for="confirmPassword">Confirmar senha*</label>
                </p-floatlabel>
              </div>
            </div>

            <div class="step-navigation step-navigation-end">
              <p-button
                label="Próximo"
                icon="pi pi-arrow-right"
                iconPos="right"
                (onClick)="activateCallback(2)"
                [disabled]="clientRegisterForm.invalid"
                data-cy="btn-step1-next"
              />
            </div>
          </form>
        </ng-template>
      </p-step-panel>

      <p-step-panel [value]="2">
        <ng-template #content let-activateCallback="activateCallback">
          <form [formGroup]="clientAddressForm">

            <div class="form-row">
              <div class="form-column">
                <p-floatlabel variant="on">
                  <p-select
                    [options]="[
                      { name: 'Casa', value: 'CASA' },
                      { name: 'Apartamento', value: 'APARTAMENTO' },
                    ]"
                    optionLabel="name"
                    optionValue="value"
                    inputId="typeResidence"
                    formControlName="typeResidence"
                    size="large"
                    data-cy="select-typeResidence"
                  />
                  <label for="typeResidence">Tipo de residência*</label>
                </p-floatlabel>
              </div>

              <div class="form-column">
                <p-select
                  [options]="[
                      {name: 'Rua', value: 'RUA'},
                      {name: 'Avenida', value: 'AVENIDA'},
                      {name: 'Rodovia', value: 'RODOVIA'}
                    ]"
                  optionLabel="name"
                  placeholder="Tipo de Logradouro*"
                  size="large"
                  optionValue="value"
                  formControlName="typePlace"
                  aria-label="Selecione um tipo de logradouro"
                  aria-required="true"
                  data-cy="select-typePlace"
                />
                @if (clientAddressForm.get('typePlace')?.invalid && clientAddressForm.get('typePlace')?.touched) {
                  <div class="alert alert-danger">
                    <div>É necessário selecionar um tipo de telefone.</div>
                  </div>
                }
              </div>
            </div>

            <div class="form-row">
              <div class="form-column form-column-full">
                <p-floatlabel variant="on">
                  <input
                    pInputText
                    id="street"
                    class="register-input"
                    formControlName="street"
                    data-cy="input-street"
                  />
                  <label for="street">Logradouro*</label>
                </p-floatlabel>
              </div>

              <div class="form-column">
                <p-floatlabel variant="on">
                  <input
                    pInputText
                    id="number"
                    class="register-input"
                    formControlName="number"
                    data-cy="input-number"
                  />
                  <label for="number">Número*</label>
                </p-floatlabel>
              </div>
            </div>

            <div class="form-row">
              <div class="form-column">
                <p-floatlabel variant="on">
                  <input
                    pInputText
                    id="district"
                    class="register-input"
                    formControlName="neighborhood"
                    data-cy="input-neighborhood"
                  />
                  <label for="district">Bairro*</label>
                </p-floatlabel>
              </div>

              <div class="form-column">
                <p-floatlabel variant="on">
                  <p-inputmask
                    mask="99999-999"
                    id="cep"
                    size="large"
                    formControlName="cep"
                    class="register-input"
                    data-cy="input-cep"
                  ></p-inputmask>
                  <label for="cep">CEP*</label>
                </p-floatlabel>
              </div>
            </div>

            <div class="form-row form-row-three">
              <div class="form-column">
                <p-floatlabel variant="on">
                  <input
                    pInputText
                    id="city"
                    formControlName="city"
                    class="register-input"
                    data-cy="input-city"
                  />
                  <label for="city">Cidade*</label>
                </p-floatlabel>
              </div>

              <div class="form-column">
                <p-select
                  [options]="[
                      {name: 'São Paulo', value: 25},
                      {name: 'Rio de Janeiro', value: 19}
                    ]"
                  optionLabel="name"
                  optionValue="value"
                  placeholder="Estado*"
                  size="large"
                  formControlName="stateId"
                  aria-label="Selecione um estado"
                  aria-required="true"
                  data-cy="select-stateId"
                />
                @if (clientAddressForm.get('stateId')?.invalid && clientAddressForm.get('stateId')?.touched) {
                  <div class="alert alert-danger">
                    <div>É necessário selecionar um estado.</div>
                  </div>
                }
              </div>

              <div class="form-column">
                <p-floatlabel variant="on">
                  <input
                    pInputText
                    id="country"
                    formControlName="country"
                    class="register-input"
                    data-cy="input-country"
                  />
                  <label for="country">País*</label>
                </p-floatlabel>
              </div>
            </div>

            <div class="form-row">
              <div class="form-column form-column-full">
                <p-floatlabel variant="on">
                  <textarea
                    pTextarea
                    id="notes"
                    rows="50"
                    [autoResize]="false"
                    cols="30"
                    style="resize: none"
                    formControlName="observations"
                    class="register-input"
                    data-cy="input-observations"
                  ></textarea>
                  <label for="notes">Observações (opcional)</label>
                </p-floatlabel>
              </div>
            </div>
          </form>

          <div class="step-navigation">
            <p-button
              label="Voltar"
              severity="secondary"
              icon="pi pi-arrow-left"
              (onClick)="activateCallback(1)"
              data-cy="btn-step1-back"
            />
            <p-button
              label="Próximo"
              icon="pi pi-arrow-right"
              iconPos="right"
              (onClick)="activateCallback(3)"
              [disabled]="clientAddressForm.invalid"
              data-cy="btn-step2-next"
            />
          </div>
        </ng-template>
      </p-step-panel>

      <p-step-panel [value]="3">
        <ng-template #content let-activateCallback="activateCallback">
          <form [formGroup]="clientPaymentForm">
            <div class="form-row">
              <div class="form-column form-column-full">
                <p-floatlabel variant="on">
                  <p-inputmask
                    mask="9999 9999 9999 9999"
                    id="number"
                    class="register-input"
                    size="large"
                    placeholder="0000 0000 0000 0000"
                    formControlName="number"
                    aria-required="true"
                    data-cy="input-number"
                  ></p-inputmask>
                  <label for="number">Número do cartão*</label>
                </p-floatlabel>
                @if (clientPaymentForm.get('number')?.invalid && clientPaymentForm.get('number')?.touched) {
                  <div class="alert alert-danger">
                    <div>É necessário informar o número do cartão.</div>
                  </div>
                }
              </div>
            </div>

            <div class="form-row">
              <div class="form-column form-column-full">
                <p-floatlabel variant="on">
                  <input
                    pInputText
                    class="register-input"
                    id="printedName"
                    formControlName="printedName"
                    aria-required="true"
                    data-cy="input-printedName"
                  />
                  <label for="printedName">Nome impresso no cartão*</label>
                </p-floatlabel>
                @if (clientPaymentForm.get('printedName')?.invalid && clientPaymentForm.get('printedName')?.touched) {
                  <div class="alert alert-danger">
                    <div>É necessário informar o nome impresso no cartão.</div>
                  </div>
                }
              </div>
            </div>

            <div class="form-row">
              <div class="form-column">
                <p-floatlabel variant="on">
                  <p-select
                    [options]="[
                      { name: 'Visa', value: 'VISA' },
                      { name: 'Mastercard', value: 'MASTERCARD' },
                      { name: 'American Express', value: 'AMEX' },
                      { name: 'Elo', value: 'ELO' },
                      { name: 'Hipercard', value: 'HIPERCARD' }
                    ]"
                    optionLabel="name"
                    inputId="cardFlag"
                    optionValue="value"
                    size="large"
                    formControlName="cardFlag"
                    aria-required="true"
                    data-cy="select-cardFlag"
                  />
                  <label for="cardFlag">Bandeira do cartão*</label>
                </p-floatlabel>
                @if (clientPaymentForm.get('cardFlag')?.invalid && clientPaymentForm.get('cardFlag')?.touched) {
                  <div class="alert alert-danger">
                    <div>É necessário selecionar a bandeira do cartão.</div>
                  </div>
                }
              </div>

              <div class="form-column">
                <p-floatlabel variant="on">
                  <input
                    pInputText
                    class="register-input"
                    id="securityCode"
                    formControlName="securityCode"
                    [maxLength]="3"
                    aria-required="true"
                    data-cy="input-securityCode"
                  />
                  <label for="securityCode">Código de segurança*</label>
                </p-floatlabel>
                @if (clientPaymentForm.get('securityCode')?.invalid && clientPaymentForm.get('securityCode')?.touched) {
                  <div class="alert alert-danger">
                    <div>É necessário informar o código de segurança.</div>
                  </div>
                }
              </div>
            </div>
          </form>

          <div class="step-navigation">
            <p-button
              label="Voltar"
              severity="secondary"
              icon="pi pi-arrow-left"
              (onClick)="activateCallback(2)"
              data-cy="btn-step2-back"
            />
            <p-button
              label="Criar conta"
              type="submit"
              size="large"
              [disabled]="clientRegisterForm.invalid
              || clientAddressForm.invalid
              || clientPaymentForm.invalid"
              (onClick)="onSubmit()"
              data-cy="btn-create-account"
            />
          </div>
        </ng-template>
      </p-step-panel>
    </p-step-panels>
  </p-stepper>

  <p-toast
    position="bottom-right"
    data-cy="p-toast"
  />
</main>
