.header-container {
  padding: 10px;
  background-color: var(--color-surface-darker);
}

.header-principal {
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 10px 30px;
}

.main-title {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.header-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
